<h1>Books#edit</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
<h2>タイトル</h2>
<%= f.text_field :title %>

<h2>本文</h2>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<% end %>

<span><%= link_to 'SHOW', book_path(@book.id) %></span>
<span><%= link_to 'BACK', '/books' %></span>